{% set intvars = interfaces[inventory_hostname] %}
# /etc/network/interfaces template for switches ({{ansible_hostname}})
# Created by Ansible

auto lo
iface lo inet loopback
  address {{ intvars.loopback }}/32

auto eth0
iface eth0 inet static
  address {{ intvars.eth0 }}
  netmask 255.255.255.0
   
{% for iface in intvars.neighbors %}
auto {{ iface }}
iface {{ iface }}
{% endfor %}
