{% set intvars = interfaces[inventory_hostname] -%}
!
{% for neighbor in intvars.neighbors %}
interface {{ neighbor }}
 ipv6 nd ra-interval 10
 no ipv6 nd suppress-ra
!
{% endfor %}
router bgp {{ intvars.asn }}
    bgp router-id {{ intvars.loopback }}
    network {{ intvars.loopback }}/32
{% for neighbor in intvars.neighbors %}
    neighbor {{ neighbor }} interface remote-as external
{% endfor %}
!
