{% set intvars = interfaces[inventory_hostname] %}
# /etc/network/interfaces template for switches ({{ansible_hostname}})
# Created by Ansible

auto lo
iface lo inet loopback
  address {{ intvars.loopback }}/32

auto eth0
iface eth0 inet dhcp
   vrf mgmt
   address {{ intvars.eth0 }}/24
   
auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto
   
{% for iface in intvars.neighbors %}
auto {{ iface }}
iface {{ iface }}
{% endfor %}

