{% set intvars = interfaces[inventory_hostname] -%}
!
{% for neighbor in intvars.neighbors %}
interface {{ neighbor }}
 ipv6 nd ra-interval 10
 no ipv6 nd suppress-ra
!
{% endfor %}
router bgp {{ intvars.asn }}
    bgp router-id {{ intvars.loopback }}
    bgp bestpath as-path multipath-relax
{% for neighbor in intvars.neighbors %}
    neighbor {{ neighbor }} interface remote-as external
    neighbor {{ neighbor }} filter-list HOST_ORIGINATED_ROUTES out
{% endfor %}
{% if intvars.redistribute is defined %}
    redistribute {{intvars.redistribute}} route-map LOCAL_ROUTES
{% endif %}
!
ip as-path access-list HOST_ORIGINATED_ROUTES permit ^$
!
route-map LOCAL_ROUTES permit 10
 match interface lo 
!
